body {
  font-family: sans-serif;
  background-color: #181515;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.center {
  max-width: 500px;
  margin: 0 auto 30px;
}

.formulario {
  background-color: #201b1b;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  margin: 0 auto 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.form-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: #1d1919;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-buttons button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: rgb(29, 25, 25);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: #fff;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: rgb(29, 28, 28);
}

td button {
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

td button:hover {
  background-color: #b02a37;
}
